 <div class="container">
<div class="form-group ">
    <button id="save" type="submit" class="btn btn-lg bt-block btn-success" [routerLink]='["/category","new" ]' title="Add New Category">
        <i class="fa fa-floppy-o"></i>
        Add Category
    </button>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Details</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of items" [class.selected]="category.id ===  category.id">
        <td id="namelist">{{category.name}}</td>
        <td>{{category.detail}}</td>
        <td>
          <a id="{{category.id}}" [routerLink]="['/category', category.id]" class="btn text-info">
            <i class="fa fa-pencil-square-o">
            </i>
          </a>
          <a id="deleteProduct" class="btn text-danger" (click)="onDelete(category.id)">
            <i class="fa fa-trash-o">
            </i>
          </a>
        </td>
      </tr>
  
    </tbody>
  </table>
</div>