@using SS.Mvc.GiftShopApp
@{
	ViewBag.Title = Resources.Home;
}
 
 <div >
    <app-root></app-root>
    <script src="~/App/dist/App/main.js"></script>
    <script src="~/App/dist/App/polyfills.js"></script>
    <script src="~/App/dist/App/runtime.js"></script>
    <script src="~/App/dist/App/styles.js"></script>
    <script src="~/App/dist/App/vendor.js"></script>
 </div>